* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    align-items: center;
    margin-bottom: 50px;
}

.header img {
    width: 200px;
    height: auto;
}

.header .nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.header a {
    color: black;
}



.mainsection {
  background-image: url("assets/dota-dota-2-phantom-assassin-dota-2-wallpaper-preview.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-bottom: 80px;
}

.mainsection h3{
    color: white;
}

.mainsection p {
    color: white;
    width:600px;
}

footer {
    background-color: black;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer .fnav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer img {
    width: 200px;
    height: auto;
}

.footer a {
    color: white;
}